- model_class = Vault
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @vault.title
%p
  %strong= model_class.human_attribute_name(:subdomain) + ':'
  %br
  = @vault.subdomain

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), vaults_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_vault_path(@vault), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), vault_path(@vault), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
